body{
  background-image: url(фон2.jpg);
  background-attachment: scroll;
  background-size: 100% 130%;
  
  
  }
  .container{background-color: RGB(255, 255, 255,0.5);}

@media screen and (max-width: 768px) {
body{
background-image: url(фон2.jpg);
background-attachment: scroll;
background-size: 400% 130%;}
.container{
background-color: RGB(255, 255, 255,0.5);
justify-content: space-between;
border-radius: 10px;
padding-top: 30px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 30px;
margin: 20px 10px 20px 10px;
}

}
